<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
</head>
<body>
<div th:replace="_header :: content"></div>
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Materials
                    <form action="#" th:action="@{/stock/material/add}" th:method="get">
                        <button class="btn btn-outline-info" role="button"
                                aria-pressed="true">Add material
                        </button>
                    </form>
                </h3>
                <table class="table" th:if="${materials != null}">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Unit_price</th>
                        <th scope="col">Purchase_Date</th>
                        <th scope="col">Supplier_Name</th>
                        <th scope="col">Count</th>
                    </tr>
                    </thead>
                    <tbody th:each="material:${materials}">
                    <tr>
                        <td th:text="${material.id}"></td>
                        <td th:text="${material.name}"></td>
                        <td th:text="${material.unitPrice}"></td>
                        <td th:text="${material.purchaseDate}"></td>
                        <td>
                            <a th:href="@{/supplier/selectedSupplier/{id}(id = ${material.supplier.id})}"
                               th:text="${material.supplier.name}"></a>
                        </td>
                        <td data-th="Count" style="max-width: 300px">
                            <div class="row">
                                <div class="d-flex align-items-center" style="max-width: 125px">
                                    <form action="#"
                                          th:action="@{/stock/material/changeCount}" th:object="${changeCount}"
                                          th:method="post">
                                        <div class="d-flex align-items-center">
                                            <div hidden class="forms-inputs mb-4">
                                                <input class="form-control" th:name="name" th:value="${material.name}" type="text">
                                            </div>
                                            <div hidden class="forms-inputs mb-4">
                                                <input class="form-control" th:name="date"
                                                       th:value="${material.purchaseDate}" type="date">
                                            </div>
                                            <div class="forms-inputs mb-4">
                                                <input class="form-control" min="1" style="min-width: 100px;"
                                                       th:value="${material.countOfMaterials}" th:name="count"
                                                       type="number">
                                            </div>
                                            <button style="margin-left: 30px"
                                                    class="btn btn-outline-success btn-md mb-2">
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <form action="#"
                                          th:action="@{/stock/material/delete}" th:object="${changeCount}"
                                          th:method="post">
                                        <div class="d-flex align-items-center">
                                            <div hidden class="forms-inputs mb-4">
                                                <input class="form-control" th:value="${material.name}" th:name="name" type="text">
                                            </div>
                                            <div hidden class="forms-inputs mb-4">
                                                <input class="form-control" th:name="date"
                                                       th:value="${material.getPurchaseDate()}" type="date">
                                            </div>
                                            <button style="margin-left: 2px"
                                                    class="btn btn-outline-danger btn-md mb-2">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>